doctype
html
  head
    meta(charset='utf-8')
    title RealTime 채팅방 Example
  body
    div 검사 창을 활용!!
    script(src='/socket.io/socket.io.js')
    script.
      var socket = io.connect('http://localhost:8080',{
        path : '/socket.io'
      });
      socket.on('news', function(data) {
        console.log(data);
        socket.emit('message', '서버로 전송!!');
        socket.emit('reply', '응답 바람!!');
      });
