doctype
html
  head
    meta(charset='utf-8')
    title RealTime 채팅방 Example
  body
    div 검사 창을 활용!!
    script.
      var webSocket = new WebSocket("ws://localhost:8005"); //ws : http, wss : https
      webSocket.onopen = function () {
        console.log('연결 성공!');
      }
      webSocket.onmessage = function (event) { //서버에서 메시지를 받았을 때 
        console.log(event.data);
        webSocket.send('클라이언트에서 서버로 답장을 보냅니다');
      }
